@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #ed6383;
    --cor1: #e65a5a;
    --cor2: #a70d0d;
    --cor3: #f57f7b;
    --preto: #000000;
    --branco: #FFFFFF;

}

body {
    font-size: 1rem;
    font-family:'Montserrat';
}

section {
    padding-bottom: 5rem;
}
 
header {
    background-color: var(--cor-principal);
}

.nav-link {
    color: var(--cor1: #e65a5a; );
    font-weight: 600;
}

.inicio-fundo {
    background-image: url(img/fundopraia.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.botao-inicio {
    background-color: var(--cor1: #e65a5a; );
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}


.display-4 {
    text-shadow: -5px 5px var(--cor1: #e65a5a; );
}

#praia{
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--branco);
    background-size: 180px 180px;
}

#praia .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}





#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 0 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color:var(--cor1);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor3) #f57f7b;;
}

.menu-acessibilidade{
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao {
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px;
}
   
.apresenta-lista {
    display: none;
}

.alto-contraste{
    background-color: var(--preto);
    color: var(--branco);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--preto);
    color: var(--branco);
}

.alto-contraste .nav-link {
    color: var(--cor-principal);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary {
    background-color: var(--cor-principal);
    color: var(--preto);
}

.alto-contraste #Praia {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--preto);
}

.alto-contraste .fundo-galeria {
    background: none;
}

