@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #ed6383;
    --cor1: #e65a5a;
    --cor2: #a70d0d;
    --cor3: #f57f7b;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    font-size: 1rem;
    font-family:'Noto Sans';
}


section {
    padding-bottom: 5rem;
}

.display-4{
    text-shadow: -5px -5px var(--cor3)
}

#praia{
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--branco);
    background-size: 180px 180px;
}

#praia .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}









#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 0 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {}


