@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #2f4858;
    --cor1: #44c061;
    --cor2: #00ab7b;
    --cor3: #007a85;
    --preto: #000000;
    --branco: #FFFFFF;
       
}

body {
    font-size: 1rem;
    font-family:'Noto Sans';
}